

.container{
    max-width: 960px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 1;
}
.Input{
    margin-left: 20px;
    width: 400px;
}

.col1{
    img{
        width:30px;
    }
}
// .col2{
//     width:50%;
// }
// .col3{
//     width:50%;
// }


























