
body{
    font-family: 'Open Sans', sans-serif;
    

}

.container{
    max-width: 960px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 1;
}
.Input{
    margin-left: 20px;
    width: 400px;   
}

.col1{
    img{
        width:30px;
    }
}
@mixin h2{
    margin-left: 13.5em;
    color: #FF914D;
    border-top: 3.9px solid #06999F;
    display: inline;
    font-family: 'Bungee', cursive;
    
}