
@import 'config';

#main1{
    height:auto;
    .container{
        .h3{
            margin-top: 30px;
            h3{
                
                background-color: #99D4D7;
                display: inline;
                font-size: 22px;
                padding: 19px;
                // font-family: 'Open Sans Condensed';font-size: 22px;

            }
        }
        .row{
            .content{
                
                margin-top: -1em;             
                margin-left: 7em;
                text-shadow: 1px 2px 1px rgb(143, 189, 209);
                color: #03989E;
                margin-bottom: 1em;
                font-family: 'Bungee', cursive;
                font-family: 'Open Sans', sans-serif;
            }
                

                    .p1{
                        font-size: 47px;
                        margin-left: 1.2em;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                    .p2{
                        color: #03989E;
                        display: inline;
                        font-size: 53px;
                        margin-left: 0em;
                        font-weight: bold;
                        line-height: 22px;
                    }
                    .p3{
                        font-size: 47px;
                        margin-left: 15px;
                        font-weight: bold;
                        line-height: 1px;
                    }
                
            }

        }
        .row{
            .col1{
                flex:6.7;
                background-color: #99D4D7;
                padding: 2em;
                line-height: 2.5em;
                text-align: justify;
            }
                // box-shadow: -10px -10px 5px -5px #b0adad;
                h3{
                    font-size: 35px;
                }
                p{
                    font-size: 25px;
                }
                ul{
                    font-size: 25px;
                }

                
        }
            .col2{
                flex:3.3;
                margin: 0px 20px;
            }
    }





// SANFORD HARMONY USA
#main2{
    height:auto;
    margin-top:2em;
    .container{
        
        h2{
            @include h2; 
            
        }
        .row{
            margin-top:1em;

            .col{
                img{
                    width: 85%;
                }
            }
            .col{
                p{
                    background-color: #99D4D7;
                    height: 257px;
                    font-size: 23px;
                    line-height: 43px;
                    text-align: justify;
                    padding: 0.8em;
                }
            }
        }
    }
}


// .DvXlvQ{
//     object-fit: fill;
    
//     margin-left: 60em;
//     width: 100%;
// }


// SANFORD HARMONY VIỆT NAM

#main3{
    .xanh{
        img{
            width: 6%;
            position: absolute;
            margin-left: 59.3em;
            margin-top: -2em;
        }
    }
    height:auto;
    
    .container{
        h2{
            @include h2;
            margin-left: 12em;
        }
        }
        .col{
            p{
                background-color: #99D4D7;
                height: 72%;
                font-size: 25px;
                line-height: 37px;
                padding: 26px;
                text-align: justify;
            }
            .img{
                img{
                    width: 98%;
                    padding: 22px;
                    object-fit: fill;
                }
            }
        }
    }
    

// <!--LỢI ÍCH CỦA CHƯƠNG TRÌNH-->
#main4{
    height:auto;
    margin-top: -1em;
    .container{
        .LOI_ICH_CUA_CHUONG_TRINH{
            margin-left: -40px;
            h2{
                @include h2;
                
            }
        }
        .content{
            margin-left: -146px;
            font-size: 18px;
            // font-weight: bold;
            .content1{
                margin-left: 22em;
            }
            .content2{
                margin-left: 19em;

            }
        }
    }
}

// HOẠT ĐỘNG CỦA SANFORD HARMONY VIỆT NAM
#main5{
    // margin-top: 3em;
    .container{
        

            h2{
                margin-left: 7.5em;
                color: #FF914D;
                // border-top: 3.9px solid #06999F;
                display: inline;
                font-family: 'Bungee', cursive;
            }
            .img{
                img{
                    margin-top: -6em;
                    margin-bottom: 3em;
                }
            }
        
    }
}

// <!-- ĐƯA SANFORD HARMONY VÀO TRƯỜNG CỦA BẠN -->
#main6{
    // margin-top: 4em;
    .maybay{
        img{
            width: 5.2%;
            margin-left: 22em;
            margin-top: 0em;
            position: absolute;
        }
    }
    .container{
        margin-top: -9em;
        h2{
            margin-left: 7.5em;
            color: #FF914D;
            // border-top: 3.9px solid #06999F;
            display: inline;
            font-family: 'Bungee', cursive;
        }
        .row{
            margin-top: -3.5em;
            .col{
                .img{
                    img{
                        width: 100%;
                    }
                }
                .content{
                    background-color: #B5D7D9;
                    font-size: 20px;
                    line-height: 31px;
                    height: 410px;
                    margin: -60px 8px 89px -3px;
                    padding: 15px;
                    text-align: justify;
                    h3{
                        margin-left: 57px;
                    }
                    p{

                    }
                }
            }
        }
    }
}

// CHIA SẺ TỪ NGƯỜI THAM DỰ
#main7{
    .container{
        height:auto;
        margin-top: -4.5em;
        h2{
            @include h2;
            
        }
        .row{
            margin-top:11px;
            .col{
                // background-color: #f9fafa;
                margin-right: 27px;
                height: 313px;
                .img{
                    img{
                        width: 40%;
                        margin-left: 71px;
                        margin-top: 19px;
                        border: 1px #d4d4d4 solid;
                        padding: 0px;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                    }

                }
                .name{
                    margin-left: 18px;            
                }
                p{
                    margin-top: 1em;
                    
                }
                 
                
            }    
        }
        
    }
}

// ĐỒNG HÀNH CÙNG TRƯỜNG
#main8{
    .container{
        height:auto;
        margin-top: 6.5em;
        h2{
            @include h2;
        }
        .A1{
            h3{
                margin-left: 15em;
                font-weight: bold;
                font-size: 25px;
                // font-family: 'Open Sans', sans-serif;
            }
            
            img{
                width: 15%;
                margin-left: 25em;
                margin-top: -28px;
            }
        }
        .A2{
            h3{
                margin-left: 7em;
                font-size: 25px;
            } 
        
            img{
                width: 101%;
                // margin-left: 21em;
            }
        }
        .A3{
            h3{
                margin-left: 4em;
                font-size: 25px;
            }
            .a1{
                margin-left: -3em;
                margin-top: -2em;
            }
            .a2{
                width: 15%;
                margin-top: -13px;
                margin-left: -2em;
                position: absolute;
            }
            .a3{
                width: 10%;
                margin-top: 1em;
                position: absolute;
                margin-left: 11em;
            }
        }
    }
}
    


// PHẦN ĐĂNG KÍ
#main9{
    
    .Input1{
        margin-left: 41px;
    }
    .Input2{
        margin-left: 18px;
    }
    .Input4{
        margin-left: 5px;
    }
    .Input6{
        margin-left:29px;
    }
    #Part2{
        margin-left: 500px;
    }
    #Part2 .TheFifthThing{
        margin-left: -170px;
        word-wrap: break-word;
    }
    .Verify-Signing-Button{
        background-color: rgba(0, 113, 128, 0.63);
        color: white;
        font-weight: bold;
        margin-left: 893px;
    }
}

// FOOTER
footer{
    background-color: #57c6cc;
    height:200px;
    .footer{
        margin-left: 36em;
        padding: 1px;

        h2{
            font-size: 30px;
        }
    }
    .info{
        margin-left: -3em;
            .col1{
                margin-left: 5em;
                img{
                    width: 4%;
                }
                p{
                    position: absolute;
                    margin-top: -45px;
                    margin-left: 73px;
                    font-size: 26px;
                }
            }
            .col2{
                margin-top: -66px;
                margin-left: 43em;
                img{
                    width: 7%;
                }
                p{
                    position: absolute;
                    margin-top: -49px;
                    margin-left: 74px;
                    font-size: 26px;
                }
            }
            .col3{
                margin-top: -67px;
                margin-left: 63em;
                img{
                    width: 12%;
                }
                p{
                    position: absolute;
                    margin-top: -53px;
                    margin-left: 76px;
                    font-size: 26px;
                }
            }
        }
}




























